Repository ultimate-go-korean/translation, changes with the owners that CODEOWNERS names for each.
All owners: @nicewook, @mumunuu, @juunini, @gmlwo530, @shin2jhoon, @snowmerak, @aeuveritas, @ghun2, @lee-kyungseok, @baewang, @979156, @kkweon, @dramgonfly, @davinnovation, @dreamgonfly, @TangoEnSkai

20/11/08, translation work at 30-32page (part of 'slice') by chet
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

Translate 191-193
  191-199/191-199.md
Owners: @juunini, @davinnovation, @TangoEnSkai

Apply suggestions from code review
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

Apply suggestions from code review
  5-20/5-20.md
Owners: @nicewook, @mumunuu, @juunini

리뷰해 주신 내용들의 적용
  101-114/101-114.md
Owners: @snowmerak, @979156, @kkweon, @gmlwo530

A 로써의 B -> A를 통한 B 처리
  101-114/101-114.md
Owners: @snowmerak, @979156, @kkweon, @gmlwo530

CODEOWNERS:

/5-20/ @nicewook @mumunuu @juunini 
/20-37/ @gmlwo530 @shin2jhoon @snowmerak @mumunuu
/37-55/ @aeuveritas @ghun2 @gmlwo530
/55-70/ @lee-kyungseok @ghun2 @baewang @979156
/70-89/ @ghun2 @nicewook @lee-kyungseok
/89-101/ @kkweon @nicewook @lee-kyungseok
/101-114/ @snowmerak @979156 @kkweon @gmlwo530
/114-128/ @mumunuu @snowmerak @dramgonfly @shin2jhoon
/128-139/ @baewang @davinnovation @979156
/139-164/ @dreamgonfly @baewang @aeuveritas @shin2jhoon
/164-173/ @TangoEnSkai @kkweon @aeuveritas 
/173-191/ @davinnovation @juunini @TangoEnSkai
/191-199/ @juunini @davinnovation @TangoEnSkai
