Repository ultimate-go-korean/translation, changes with the owners that CODEOWNERS names for each.
All owners: @nicewook, @mumunuu, @juunini, @gmlwo530, @shin2jhoon, @snowmerak, @aeuveritas, @ghun2, @lee-kyungseok, @baewang, @979156, @kkweon, @dramgonfly, @davinnovation, @dreamgonfly, @TangoEnSkai

CODEOWNERS:

/5-20/ @nicewook @mumunuu @juunini 
/20-37/ @gmlwo530 @shin2jhoon @snowmerak @mumunuu
/37-55/ @aeuveritas @ghun2 @gmlwo530
/55-70/ @lee-kyungseok @ghun2 @baewang @979156
/70-89/ @ghun2 @nicewook @lee-kyungseok
/89-101/ @kkweon @nicewook @lee-kyungseok
/101-114/ @snowmerak @979156 @kkweon @gmlwo530
/114-128/ @mumunuu @snowmerak @dramgonfly @shin2jhoon
/128-139/ @baewang @davinnovation @979156
/139-164/ @dreamgonfly @baewang @aeuveritas @shin2jhoon
/164-173/ @TangoEnSkai @kkweon @aeuveritas 
/173-191/ @davinnovation @juunini @TangoEnSkai
/191-199/ @juunini @davinnovation @TangoEnSkai

Translation/191-199 (#58)
  191-199/191-199.md
Owners: @juunini, @davinnovation, @TangoEnSkai

Deploying to gh-pages from @ 7fc0bf7cc0bd9bdde4a4658e00444e973540f56d 🚀
  index.html
Owners: none

Apply suggestions from code review
  5-20/5-20.md
Owners: @nicewook, @mumunuu, @juunini

translate till 13 page (#62)
  5-20/5-20.md
Owners: @nicewook, @mumunuu, @juunini

Deploying to gh-pages from @ d7b14c8dc90c97979fe8e1527fd897b7473f5f1f 🚀
  index.html
Owners: none

translate 111~114 (#71)
  101-114/101-114.md
Owners: @snowmerak, @979156, @kkweon, @gmlwo530

Deploying to gh-pages from @ 621747930e052c7900bcce789830d70cc4492271 🚀
  index.html
Owners: none

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Update 55-70/55-70.md
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Translate 55-60 (#70)
  55-70/55-70.md
Owners: @lee-kyungseok, @ghun2, @baewang, @979156

Deploying to gh-pages from @ ea4311d553ed52cb6493e96a8c5614fe02d765d9 🚀
  index.html
Owners: none

english version till 101-114.md
  101-114/101-114.md
  20-37/20-37.md
  37-55/37-55.md
  5-20/5-20.md
  55-70/55-70.md
  70-89/70-89.md
  89-101/89-101.md
Owners: @snowmerak, @979156, @kkweon, @gmlwo530, @shin2jhoon, @mumunuu, @aeuveritas, @ghun2, @nicewook, @juunini, @lee-kyungseok, @baewang

english markdown baseline
  164-173/164-173.md
  191-199/191-199.md
Owners: @TangoEnSkai, @kkweon, @aeuveritas, @juunini, @davinnovation

20/11/05, SHINJUNGHOON, translation work about MAP structure
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

20/11/05, SHINJUNGHOON, Adjust prettier
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

20/11/05 translation work at MAP structure, with adjusting prettier
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

20/11/05 translation work at MAP structure, with adjusting review and prettier
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

upload english version
  128-139/128-139.md
Owners: @baewang, @davinnovation, @979156

translate part 1
  128-139/128-139.md
Owners: @baewang, @davinnovation, @979156

fix
  128-139/128-139.md
Owners: @baewang, @davinnovation, @979156

fix
  128-139/128-139.md
Owners: @baewang, @davinnovation, @979156

remove
  128-139/128-139.md
Owners: @baewang, @davinnovation, @979156

fix
  128-139/128-139.md
Owners: @baewang, @davinnovation, @979156

translate 50 to 54 pages
  37-55/37-55.md
Owners: @aeuveritas, @ghun2, @gmlwo530

Update 20-37/20-37.md
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

20/11/08, translation work at 30-32page (part of 'slice') by chet
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu

20/11/08, translation work at 30-32page (part of 'slice') by chet
  20-37/20-37.md
Owners: @gmlwo530, @shin2jhoon, @snowmerak, @mumunuu
